body {
	background-color: #eaebef;
}

#wrap{
	width:1085px;
	margin:auto;
}

#title{
	height:80px;
}

#outer{
	margin:auto;
	background-color: #fff;
	bottom: 50px;
	right: 20px;
	/*top: 70px;*/
	left: 20px;
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);

}

#canvas{
	height: 500px;
	position: relative;
}
